<div class="kartica-container">
    <div class="kartica" *ngFor="let movie of movies" [id]="movie.id" (click) = "onKarticaClick(movie)" >        
        <div class="pos-info">
            <img [src]="movie.imageUrl" [alt]="movie.title" class="poster" />
            <div class="info">
                <span><h3>{{ movie.title }}</h3></span>
                <span class="price">{{ movie.price }} KM</span>
            </div>
        </div>
        <div class="description">
            <p>
                {{movie.description}}
            </p>
        </div>
    </div>
</div>


@if (isModalOpen) {
    <app-modal [movie] = "modalMovie" [isOpen]="isModalOpen" (close)="isModalOpen = false"></app-modal>
}